@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("twitter.com") {
#top-stuff{display: none !important;}
#page-outer { min-width: 0px !important }
#page-container {
  margin: 0px 0px !important;
  top: 0px !important;
  left: 0px !important;
  position: absolute !important;
  min-width: 350px !important;
}
.main-content{width: 350px !important;}
.main-tweet-box {
  padding: 8px 8px !important;
  max-height: 100px !important;
}
.tweet-box { padding: 0px !important; }
/* .tweet-box-title { display: none; } */
.tweet-button-container {
  margin-top: -40px !important;
}
.text-area-editor twttr-editor{max-width: 250px !important;}
.twitter-anywhere-tweet-box-editor{width: 250px !important;}
.autocomplete-container{width: 250px !important;}
.tweet { font-size: 12px !important; line-height: 14px !important; }
.tweet-text { font-size: 12px !important; line-height: 14px !important; }
.tweet-text-large { font-size: 12px !important; }
#details-pane-outer { z-index: 1000 !important; }
.details-pane.opened {
  left: 0px !important;
  font-size: 10px !important;
  max-width: 350px !important;
  min-width: 350px !important;
}
.stream-item-content.tweet { padding: 0px !important }
.dashboard{
  font-size: 10px;
  line-height: 18px;
  z-index: 1000 !important;
  position: absolute !important;
  height: 1em !important;
  min-width: 120px !important;
  max-width: 120px !important;
  background-color: #333;
  left: 220px !important;
}
.dashboard:hover {
  min-width: 300px !important;
  max-width: 300px !important;
  height: 520px !important;
  left: 50px !important;
}
.dashboard>.component>.your-activity { display:none; }
.dashboard>.component>.user-rec-inner { display:none !important; }
.dashboard>.component>.definition { display:none; }
.dashboard .component-spacer { display: none !important; }
.stream-tab-retweets{ display: none !important; }
.stream-tabs { padding: 0px !important; }
}

